<!DOCTYPE html>
<html>
<head>
  <title>SampleApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
  <div id="section-data" class="col-xs-12 col-md-9">
    <%= image_tag "logo.png" %>
  </div>

  <div id="section-history" class="col-xs-12 col-md-3">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if logged_in? %>
        <li><%= link_to "My Page", current_user %></li>
        <li><%= link_to "Log out", logout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "Log in", login_path %></li>
      <% end %>
    </ul>
  </div>

</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
